.header {
  background-color: rgb(255, 69, 69);
  width: 100%;
    text-align: center;
}

header > h2 {
  color: white;
  padding-top: 10px;
  padding-bottom: 0;
}

header > p {
   padding-bottom: 10px;
   color: white;
}

article > img {
  width: 100px;
  overflow: hidden;
  border-radius: 6px;
}

.entry {
  display: flex;
}

.entry {
  box-shadow: 3px black;
  margin-bottom: 30px;
}